#Programación

Programar es el proceso de escribir código para crear software o aplicaciones que se ejecutan en una computadora o dispospositivo electrónico con unidad de procesamiento. Es el acto de traducir una solución o algoritmo en un lenguaje comprensible para una máquina.

In [ ]:
print("Hola Mundo")

Hola Mundo

In [ ]:
nombre = input("Introduce tu nombre: ")
print(nombre)

Introduce tu nombre: jf
jf

##*DATOS*

###Datos Booleanos

In [ ]:
Dato_Verdadero = True
Dato_Falso = False

print(Dato_Verdadero)
print(Dato_Falso)

True
False

### Datos Tipo caracter (CHAR)

In [14]:

caracter1 = 'a'
caracter2 = 'z'
caracter3 = '1'
caracter4 = '*'
caracter5 = ' '  # Espacio en blanco también es un carácter

print(caracter1)
print(caracter2)
print(caracter3)
print(caracter4)
print(caracter5)
type(input("ingrese un caracter"))

a
z
1
*

ingrese un caracter5

str

### Datos tipo Entero

In [15]:
# Datos tipo entero (INT)
entero1 = 10
entero2 = -5
entero3 = 0

print(entero1)
print(entero2)
print(entero3)
type(int(input("ingrese un número entero")))

10
-5
0
ingrese un número entero5

int

### Datos Tipo Flotante

In [16]:
# Datos tipo flotante (FLOAT)
flotante1 = 3.14159
flotante2 = -2.5
flotante3 = 0.0

print(flotante1)
print(flotante2)
print(flotante3)

type(float(input("ingrese un número float")))

3.14159
-2.5
0.0
ingrese un número float3.0

float

### Datos Tipo String o Cadenas de Texto

In [17]:
# Datos tipo cadena de texto (STRING)
cadena1 = "Hola" #Unión de varios caracteres
cadena2 = 'Mundo'
cadena3 = """Este es un ejemplo de una cadena de textode varias líneas."""
cadena4 = "123"  # Una cadena que contiene números
cadena5 = "" # Cadena vacía
cadena6 = "Hola Mundo"
cadena7 = "Python"

print(cadena1)
print(cadena2)
print(cadena3)
print(cadena4)
print(cadena5)
print(cadena6)
print(cadena7)

type(input("ingrese una cadena de texto"))

Hola
Mundo
Este es un ejemplo de una cadena de textode varias líneas.
123

Hola Mundo
Python
ingrese una cadena de textohola

str

In [19]:
print(cadena1 + " " + cadena2) #concatenación o unión de cadenas de texto
print(len(cadena6)) #longitud de la cadena
print(cadena6[0:4])  #slicing
print(cadena6.upper()) #mayusculas
print(cadena7.lower()) #minusculas
print(cadena6.split(" ")) #split
print(cadena6.find("Mundo")) #Encontrar la posición de una subcadena
print("Mundo" in cadena6) #verificar si una subcadena existe en la cadena

#Ejemplo de interpolación
nombre = "Juan"
edad = 30
print(f"Mi nombre es {nombre} y tengo {edad} años")
print(f"{nombre=}, {edad=}")

Hola Mundo
10
Hola
HOLA MUNDO
python
['Hola', 'Mundo']
5
True
Mi nombre es Juan y tengo 30 años
nombre='Juan', edad=30

### Listas

In [20]:
# Crear una lista vacía
lista_vacia = []

In [29]:
# Crear una lista de números
lista_numeros = [1, 2, 3, 4, 5]

In [22]:
# Crear una lista de cadenas de texto
lista_cadenas = ["manzana", "banana", "cereza"]

In [23]:
# Crear una lista con elementos de diferentes tipos de datos
lista_mixta = [10, "Hola", 3.14, True]

In [24]:
# Acceder a elementos de una lista (el primer elemento tiene índice 0)
print(lista_numeros[0])  # Output: 1
print(lista_cadenas[2])  # Output: cereza

1
cereza

In [25]:
# Modificar elementos de una lista
lista_numeros[0] = 10
print(lista_numeros)  # Output: [10, 2, 3, 4, 5]

[10, 2, 3, 4, 5]

In [26]:
# Agregar elementos a una lista
lista_numeros.append(6)
print(lista_numeros)  # Output: [10, 2, 3, 4, 5, 6]

[10, 2, 3, 4, 5, 6]

In [31]:
# Insertar un elemento en una posición específica
lista_numeros.insert(2, 20) # inserta 20 en la posición con índice 2
print(lista_numeros)  # Output: [10, 2, 20, 3, 4, 5, 6]

[1, 2, 20, 3, 4, 5]

In [32]:
# Eliminar un elemento de una lista
lista_numeros.remove(20)  # Elimina el primer elemento con valor 20
print(lista_numeros) # Output: [10, 2, 3, 4, 5, 6]

[1, 2, 3, 4, 5]

In [33]:
# Eliminar un elemento por su índice
del lista_numeros[0]  # Elimina el elemento en la posición 0
print(lista_numeros) # Output: [2, 3, 4, 5, 6]

[2, 3, 4, 5]

In [34]:
# Obtener la longitud de una lista
longitud = len(lista_numeros)
print(longitud)  # Output: 5

4

In [35]:
# Otras operaciones con listas
lista_numeros.sort()  # Ordenar la lista (en este caso, de menor a mayor)
print(lista_numeros) # Output: [2, 3, 4, 5, 6]

[2, 3, 4, 5]

In [36]:
lista_numeros.reverse() # invertir la lista
print(lista_numeros) # Output: [6, 5, 4, 3, 2]

[5, 4, 3, 2]