#Programación

Programar es el proceso de escribir código para crear software o aplicaciones que se ejecutan en una computadora o dispospositivo electrónico con unidad de procesamiento. Es el acto de traducir una solución o algoritmo en un lenguaje comprensible para una máquina.

In [ ]:
print("Hola Mundo")

Hola Mundo

In [ ]:
nombre = input("Introduce tu nombre: ")
print(nombre)

Introduce tu nombre: jf
jf

##*DATOS*

###Datos Booleanos

In [ ]:
Dato_Verdadero = True
Dato_Falso = False

print(Dato_Verdadero)
print(Dato_Falso)

True
False

### Datos Tipo caracter (CHAR)

In [14]:

caracter1 = 'a'
caracter2 = 'z'
caracter3 = '1'
caracter4 = '*'
caracter5 = ' '  # Espacio en blanco también es un carácter

print(caracter1)
print(caracter2)
print(caracter3)
print(caracter4)
print(caracter5)
type(input("ingrese un caracter"))

a
z
1
*

ingrese un caracter5

str

### Datos tipo Entero

In [15]:
# Datos tipo entero (INT)
entero1 = 10
entero2 = -5
entero3 = 0

print(entero1)
print(entero2)
print(entero3)
type(int(input("ingrese un número entero")))

10
-5
0
ingrese un número entero5

int

### Datos Tipo Flotante

In [16]:
# Datos tipo flotante (FLOAT)
flotante1 = 3.14159
flotante2 = -2.5
flotante3 = 0.0

print(flotante1)
print(flotante2)
print(flotante3)

type(float(input("ingrese un número float")))

3.14159
-2.5
0.0
ingrese un número float3.0

float

### Datos Tipo String o Cadenas de Texto

In [17]:
# Datos tipo cadena de texto (STRING)
cadena1 = "Hola" #Unión de varios caracteres
cadena2 = 'Mundo'
cadena3 = """Este es un ejemplo de una cadena de textode varias líneas."""
cadena4 = "123"  # Una cadena que contiene números
cadena5 = "" # Cadena vacía
cadena6 = "Hola Mundo"
cadena7 = "Python"

print(cadena1)
print(cadena2)
print(cadena3)
print(cadena4)
print(cadena5)
print(cadena6)
print(cadena7)

type(input("ingrese una cadena de texto"))

Hola
Mundo
Este es un ejemplo de una cadena de textode varias líneas.
123

Hola Mundo
Python
ingrese una cadena de textohola

str

In [19]:
print(cadena1 + " " + cadena2) #concatenación o unión de cadenas de texto
print(len(cadena6)) #longitud de la cadena
print(cadena6[0:4])  #slicing
print(cadena6.upper()) #mayusculas
print(cadena7.lower()) #minusculas
print(cadena6.split(" ")) #split
print(cadena6.find("Mundo")) #Encontrar la posición de una subcadena
print("Mundo" in cadena6) #verificar si una subcadena existe en la cadena

#Ejemplo de interpolación
nombre = "Juan"
edad = 30
print(f"Mi nombre es {nombre} y tengo {edad} años")
print(f"{nombre=}, {edad=}")

Hola Mundo
10
Hola
HOLA MUNDO
python
['Hola', 'Mundo']
5
True
Mi nombre es Juan y tengo 30 años
nombre='Juan', edad=30

### Listas

In [20]:
# Crear una lista vacía
lista_vacia = []

In [29]:
# Crear una lista de números
lista_numeros = [1, 2, 3, 4, 5]

In [22]:
# Crear una lista de cadenas de texto
lista_cadenas = ["manzana", "banana", "cereza"]

In [23]:
# Crear una lista con elementos de diferentes tipos de datos
lista_mixta = [10, "Hola", 3.14, True]

In [24]:
# Acceder a elementos de una lista (el primer elemento tiene índice 0)
print(lista_numeros[0])  # Output: 1
print(lista_cadenas[2])  # Output: cereza

1
cereza

In [25]:
# Modificar elementos de una lista
lista_numeros[0] = 10
print(lista_numeros)  # Output: [10, 2, 3, 4, 5]

[10, 2, 3, 4, 5]

In [26]:
# Agregar elementos a una lista
lista_numeros.append(6)
print(lista_numeros)  # Output: [10, 2, 3, 4, 5, 6]

[10, 2, 3, 4, 5, 6]

In [31]:
# Insertar un elemento en una posición específica
lista_numeros.insert(2, 20) # inserta 20 en la posición con índice 2
print(lista_numeros)  # Output: [10, 2, 20, 3, 4, 5, 6]

[1, 2, 20, 3, 4, 5]

In [32]:
# Eliminar un elemento de una lista
lista_numeros.remove(20)  # Elimina el primer elemento con valor 20
print(lista_numeros) # Output: [10, 2, 3, 4, 5, 6]

[1, 2, 3, 4, 5]

In [33]:
# Eliminar un elemento por su índice
del lista_numeros[0]  # Elimina el elemento en la posición 0
print(lista_numeros) # Output: [2, 3, 4, 5, 6]

[2, 3, 4, 5]

In [34]:
# Obtener la longitud de una lista
longitud = len(lista_numeros)
print(longitud)  # Output: 5

4

In [35]:
# Otras operaciones con listas
lista_numeros.sort()  # Ordenar la lista (en este caso, de menor a mayor)
print(lista_numeros) # Output: [2, 3, 4, 5, 6]

[2, 3, 4, 5]

In [36]:
lista_numeros.reverse() # invertir la lista
print(lista_numeros) # Output: [6, 5, 4, 3, 2]

[5, 4, 3, 2]

In [ ]:
mi_tupla = (1, 2, 3, 4, 5)
print(mi_tupla)  # Salida: (1, 2, 3, 4, 5)
# Intentamos modificar un elemento de la tupla (esto generará un error)
# mi_tupla[0] = 10  # TypeError: 'tuple' object does not support item assignment

# Las tuplas no permiten agregar ni eliminar elementos.

##*OPERADORES*

### Operadores Aritméticos

In [38]:
# Suma
suma = 2 + 2
# Resta
resta = 5-1

# Multiplicación
multiplicacion = 2 * 2

# División
division = 10 / 5  # division = 2.0 (resultado siempre es un flotante)

# División entera
division_entera = 10 // 5 # division_entera = 2 (parte entera de la división)

# Módulo (residuo de la división)
modulo = 10 % 3  # modulo = 1

# Exponente
exponente = 2 ** 3  # exponente = 8 (2 elevado a 3)

print("Suma:", suma)
print("Resta:", resta)
print("Multiplicación:", multiplicacion)
print("División:", division)
print("División entera:", division_entera)
print("Módulo:", modulo)
print("Exponente:", exponente)

Suma: 4
Resta: 4
Multiplicación: 4
División: 2.0
División entera: 2
Módulo: 1
Exponente: 8

In [41]:
resultado=((4*5)/2)**2-((8+3)*(2+4))%7
print(resultado)

97.0

### Operadores Asignación

In [50]:
# Operadores de asignación

x = 1  # Asignación simple
print(x)

x=1
x += 1  # Equivalente a x = x + 1
print(x)

x=4
x -= 3  # Equivalente a x = x - 3
print(x)

x=2
x *= 2  # Equivalente a x = x * 2
print(x)

x=2
x /= 2  # Equivalente a x = x / 2
print(x)

x=5
x %= 2  # Equivalente a x = x % 3
print(x)

x=10
x //= 2 # Equivalente a x = x // 2
print(x)

x=5
x **= 2 # Equivalente a x = x ** 2
print(x)

1
2
1
4
1.0
1
5
25

### Operadores Comparación

In [52]:
# ### Operadores Comparación
# Igualdad
igualdad = 1 == 1  # igualdad = True
print("Igualdad:",igualdad)

# Desigualdad
desigualdad = 2 != 1  # desigualdad = True
print("Desigualdad:",desigualdad)

# Mayor que
mayor_que = 10 > 5  # mayor_que = True
print("Mayor que:",mayor_que)

# Menor que
menor_que = 5 < 10  # menor_que = True
print("Menor que:",menor_que)

# Mayor o igual que
mayor_o_igual = 10 >= 10  # mayor_o_igual = True
print("Mayor o igual que:",mayor_o_igual)

# Menor o igual que
menor_o_igual = 5 <= 10  # menor_o_igual = True
print("Menor o igual que:",menor_o_igual)

Igualdad: True
Desigualdad: True
Mayor que: True
Menor que: True
Mayor o igual que: True
Menor o igual que: True

### Operadores Lógicos

In [53]:
# and (Y lógico)
# Devuelve True si ambos operandos son True, de lo contrario devuelve False.

resultado_and = True and True  # resultado_and = True
print("True and True:", resultado_and)

resultado_and = True and False  # resultado_and = False
print("True and False:", resultado_and)

resultado_and = False and True  # resultado_and = False
print("False and True:", resultado_and)

resultado_and = False and False  # resultado_and = False
print("False and False:", resultado_and)

# or (O lógico)
# Devuelve True si al menos uno de los operandos es True, de lo contrario devuelve False.

resultado_or = True or True  # resultado_or = True
print("True or True:", resultado_or)

resultado_or = True or False  # resultado_or = True
print("True or False:", resultado_or)

resultado_or = False or True  # resultado_or = True
print("False or True:", resultado_or)

resultado_or = False or False  # resultado_or = False
print("False or False:", resultado_or)

# not (Negación lógica)
# Invierte el valor del operando. Si el operando es True, devuelve False, y viceversa.

resultado_not = not True  # resultado_not = False
print("not True:", resultado_not)

resultado_not = not False  # resultado_not = True
print("not False:", resultado_not)

True and True: True
True and False: False
False and True: False
False and False: False
True or True: True
True or False: True
False or True: True
False or False: False
not True: False
not False: True